configuration {
  terminal: "kitty";
  modi: "combi,calc,window,drun,filebrowser";
  combi-modi: "drun,window";
  font: "UbuntuMono Nerd Font 14";
  show-icons: true;
  icon-theme: "Tela circle dark";
  combi-hide-mode-prefix: true;
  drun-show-actions: true;
  drun-display-format: "{name}";
  disable-history: false;
  sidebar-mode: true;
  auto-select: false;

}

@import "~/.cache/wal/colors-rofi-dark.rasi"
@theme "~/.config/rofi/themes/nord.rasi"
